#header {
    width: 100%;
    margin: 0px;
    padding: 8px;
    background: #CB5EFA;
    text-align: center;
    color: #FFFFFF;
}

.body_text1 {
    color: #FFFFFF;
    }
.random_button {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 12px;
    height: 50px;
    margin-bottom: 10px;
    padding: 4px;
    background: #682E82;
    color: #FFFFFF;
}

.feature_heading {
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.album_card {
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 50%;
    height: 400px;
    padding: 20px;
    background: #682E82;
    color: #FFFFFF;
    border: 2px solid black;
}
ul.navbar_button {
    width: 100%;
    text-align:left;
    vertical-align: middle;
    line-height: 12px;
    height: 50px;
    margin-bottom: 10px;
    padding: 4px;
    background: #682E82;
    color: #682E82;
} 

ul.horizontal-navbar li {
    float: left;
}

ul.horizontal-navbar li a {
    display: block;
    color: #FFFFFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.horizontal-navbar li a:hover {
    background-color: #555;
    color: #D446E5;
}

.text_box {
    border: 1px solid black;
    width: 900px;
    height: 200px;
    margin: 25px;
    float: center;
}

table {
    border-collapse: collapse;
}

th, td {
    border: 2px solid #ddd;
    padding: 20px;
}

a {
  color: 'black';
  text-decoration: underline;
}

a:hover {
  background-color: 'purple';
  text-decoration: 'white';
  cursor: pointer;
}

.angry {
 color: 'red';
}
