<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='webapp.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='webapp.js') }}" ></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='note.png') }}" />
    <title>TF5k: The beginning</title>
</head>

<body>
    <h1>One small step for a CS257 student... no progress for mankind?</h1>
    <p> Observe the serenity of the button before you, it's beautiful, is it not?
        Go ahead! Press it! You haven't got all day, you know.</p>

    <p>Artists <select id="artist_selector"></select></p>

    <p><table id="album_table"></table></p>
</body>
</html>

