<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/webapp.css" />
    <script type="text/javascript" src="{{ url_for('static', filename='webapp.js') }}" ></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='note.png') }}" />
    <title>TF5k: The beginning</title>
</head>

<body>
    <div id="header">
                <div class="header_clickable">
                    <h1>Index</h1>
                </div>
    </div>
    <ul class="horizontal-navbar navbar_button">
        <li><a href="./">Home</a></li>
        <li><a href="./mockup_about.html">About</a></li>
        <li><a href="./mockup_advsearch.html">Advanced Search</a></li>
    </ul>
    <p> Observe the serenity of the button before you, it's beautiful, is it not?
        Go ahead! Press it! You haven't got all day, you know.</p>

    <!--<p>Album: <input type="text" id="album_name"> </p>-->

    <div class="text_box" id="random_album"></div>
    <button id="album_random"> Click me! </button>
</body>
</html>

