<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../static/webapp.css" />
    <script type="text/javascript" src="{{ url_for('static', filename='webapp.js') }}" ></script>
    <link rel="shortcut icon" href="../static/note.png" />
    <title> The Fortunate 5000 </title>
</head>

<body>
    <div id="header">
                <div class="header_clickable">
                    <h1>Advanced Search Options</h1>
                </div>
    </div>
    <ul class="horizontal-navbar navbar_button">
        <li><a href="./">Home</a></li>
        <li><a href="./mockup_about.html">About</a></li>
        <li><a href="./mockup_advsearch.html">Advanced Data Search</a></li>
    </ul>

     <p>Ranking lower limit: <input type="number" id="ranking_lower"> </p>
     <p>Ranking upper limit: <input type="number" id="ranking_upper"> </p>
     <p>Artist name: <input type="text" id="artist_name"> </p>
     <p>Album name: <input type="text" id="album_name"> </p>
     <p>Genre: <input type="text" id="genres"> </p>
     <p>Release year: <input type="text" id="release_year"> </p>
     <p>Descriptors: <input type="text" id="descs"> </p>
     <p>Average rating lower limit: <input type="number" id="avrating_lower"> </p>
     <p>Average rating upper limit: <input type="number" id="avrating_upper"> </p>
     <p>Number of ratings lower limit: <input type="number" id="numrating_lower"> </p>
     <p>Number of ratings upper limit: <input type="number" id="numrating_upper"> </p>
     <p>Number of reviews lower limit: <input type="number" id="numreview_lower"> </p>
     <p>Number of ratings upper limit: <input type="number" id="numreview_upper"> </p>

     <button id="advsearch" class="random_button">Search</button>
     <table id="results_table">
        <tr><td>Results:</td><tr>
     </table>
</body>

</html>
