
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../static/webapp.css" />
    <link rel="text/javascript" src="../static/ted.js"></script>
    <link rel="shortcut icon" href="../static/note.png" />
    <title> TF5K </title>
</head>

<body>
    <div id="header">
                <div class="header_clickable">
                    <h1>About</h1>
                </div>
    </div>
    <ul class="horizontal-navbar navbar_button">
        <li><a href="./">Home</a></li>
        <li><a href="./mockup_about.html">About</a></li>
        <li><a href="./mockup_advsearch.html">Advanced Data Search</a></li>
    </ul>
    <div class="text_box">
        <p>
            <h2> Who am I? </h2>
            <p> Hello! My name is A.J. Ristino, I'm a second year at Carleton college and a prospective CS and Environmental
                Studies major. I'm from New Hampshire and, sadly, I am not the handsome French Bulldog seen below, but rather
                his bespectacled handler. </p> 

        </p>
    </div>
    <img type="image" class = "image_card" src="../static/dev.png"  width="200px" height="250px">
    <div class="text_box">
        <p>
            <h2> What is this Webapp for? </h2>
            <p> This webapp is my first attempt at designing a database-driven web app! This project serves as my CS257 
                , Software Design, course final project. It consist of an About page (where you find yourself), a Home page
                Which has... not much aside from a random album viewer.

                The true prize of this webapp is the Advanced Data Search tab, which is a comprehensive, completely
                Customizeable search system where you can specify your preferences for any of 13 different unique criteria!

                Oh, right, the actual dataset itself! This webapp functions using a database constructed from a list of the 
                5000 top albums of all time (as according to ratemymusic.com). You can view a random album and its metrics on
                the Homepage (as stated above) or search for albums on the search page!
            </p>
                                                                        
        </p>
    </div>
    <div class="text_box">
        <p>
            <h2> Where is the dataset from? </h2>
            <p> The dataset is from <a href="https://www.kaggle.com/michaelbryantds/top-5000-albums-of-all-time-rateyourmusiccom">
                this Kaggle dataset </a>!             


        </p>
    </div>
</body>

</html>
