
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../static/webapp.css" />
    <link rel="text/javascript" src="../static/ted.js"></script>
    <link rel="shortcut icon" href="../static/note.png" />
    <title> TF5K </title>
</head>

<body>
    <div id="header">
                <div class="header_clickable">
                    <h1>About</h1>
                </div>
    </div>
    <ul class="horizontal-navbar navbar_button">
        <li><a href="./mockup_home.html">Home</a></li>
        <li><a href="./mockup_about.html">About</a></li>
        <li><a href="./mockup_advsearch.html">Advanced Data Search</a></li>
    </ul>
    <div id="text_box">
        <p>Who are we?</p>
    </div>
    <div id="text_box">
        <p>What is this Webapp for?</p>
    </div>
    <div id="text_box">
        <p>Where is the dataset from?</p>
    </div>
</body>

</html>
